/* //////////////My CSS////////////// */

/* Navbar */

/* End Navbar*/

.card {
    margin-top: 50px;
}

.login-form {
    padding-top: 50px;
}

.alert.alert-success {
    margin-top: 50px;
}
/* Img profile avatar */
.avatar {
    border-radius: 100%;
    max-height: 30%;
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
    position: relative;
}

.show_user_profile>p {
    text-align: center;
}

/* Img profile avatar */


/* App */
.card-header {
    text-align: center;
}

body {
    padding-top: 4px;
}

@media (min-width: 992px) {
    body {
        padding-top: 6px;
    }
}

.col-9>b {
    padding-left: 30%;
}

/* End App */

/* Text lead */
.lead {
    margin-bottom: 10px;
    color: #545b62;
}
/* End Text lead */

.main_img {
    max-height: 50%;
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
    position: relative;
}

/* Post Add */
.post_add {
    width: 100%;
}
/* End Post Add*/

/* Post View */
.comments_title {
    color: #000;
    text-decoration: underline;
}

.comments_posted {
    font-style: italic;
    font-weight: lighter;
}

.comments_posted_user {
    font-weight: bold;
}

.presentation {
     padding: 10px;
 }

.presentation>a {
    color: #696969;
}

.presentation>a:hover {
    color: #00AF3B;
}

.presentation_posts>a {
    padding-left: 7px;
    color: #696969;
}

.presentation_posts>a:hover {
    color: #00AF3B;
}

.list-group-item>a {
    text-decoration: none;
    color: #696969;
}

.list-group-item>a:hover {
    color: #00AF3B;
}

#comment {
    resize: none;
    width: 100%;
    height: 170px;
}
/* End Post View */

/* Home View */

/*  End Home View */

/* Posts */
/* Pagination */

.page-link {
    color: #696969;
}

.page-link:hover {
    color: #00AF3B;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #00AF3B;
    border-color: #00AF3B;
}
/* End Posts */

/* Category */

/* End Category */